<!-- <div id="tabs" tab>
	<ul class="list-unstyled">
		<li ng-repeat="tabitem in tabList">
			<a href="#[[tabitem.listId]]" ng-bind="tabitem.listTitle"></a>
		</li>
	</ul>
	<div ng-repeat="tabitem in tabList" ng-bind="tabitem.listContent" id="[[tabitem.listId]]"></div>
</div> -->

<div id="tabs" tab>
	<ul class="list-unstyled">
		<li>
			<a href="#tab01">tab01</a>
		</li>
		<li>
			<a href="#tab02">tab02</a>
		</li>
		<li>
			<a href="#tab03">tab03</a>
		</li>
	</ul>
	<div id="tab01">fjakjgjkjakjgkjsgjaljgd;a</div>
	<div id="tab02">fjakjgjkjdsfsafasakjgkjsgjaljgd;57545454212a</div>
	<div id="tab03">784545464664545487841213</div>
</div>