.logo {
	color: #999;
	margin: 0px;
	font-size: 28px;
	line-height: 50px;
	padding-left: 20px;
}
.mainMenu li.active .subMenu:first-child,
.subMenu li.choosen{
	border-left: 2px solid #900;
	padding-left: 10px;
	background: #900;
}
