/*top style*/
.logo {
	color: #999;
	margin: 0px;
	font-size: 28px;
	line-height: 50px;
	padding-left: 20px;
}

/*menu style*/
.subMenu li{
	margin-left: 10px !important;
}
.subMenu li.choosen {
	border-left: 2px solid #563d7c;
	background: #5bc0de;
}
.subMenu li.choosen a {
	color: #fff;
}

.subMenu li.choosen a:focus {
	background: #5bc0de;
	color: #fff;
}

/*drag page style*/
.test-box {
	width: 100px;
	height: 100px;
	background: #900;
	color: #fff;
}

/*resize page style*/
#resizable {
	width: 100px;
	height: 100px;
	background: #ccc;
}

/*select page style*/
.select-list {
	margin: 20px;
	width: 40%;
}
.select-list li {
	border: 1px solid #eee;
	padding: 5px;
	margin: 10px;
}
.select-list .ui-selecting {
	background: #ccc;
}
.select-list .ui-selected {
	background: #999;
}

/*sort page style*/
.sort-list {
	margin: 20px;
	width: 40%;
}
.sort-list li {
	border: 1px solid #eee;
	padding: 5px;
	background: #ddd;
	margin: 10px;
}

/*accordion page style*/
#accordion {
	width: 40%;
	margin: 10px;
}
#accordion div {
	padding: 10px;
	height: auto !important;
}
#accordion h3 {
	font-weight: bold;
}

/*common style*/
.box {
	width: 100%;
	height: 610px;
	border: 1px solid #ddd;
	overflow: hidden;
	padding: 10px;
}
.nav-pills>li>a {
	color: #333;
}
.nav-pills>li>a:hover {
	background: #5bc0de;
	color: #fff;
}
.nav-pills>li>a:focus{
	background: #fff;
	color: #333;
}
.blue-bg {
	background: #007cd3;
}
button:focus {
	outline: 0 !important;
}

/*test background fixed*/
.bgimg1 {
	background: url("../images/bg.jpg") no-repeat fixed;
	width: 1600px;
	height: 900px;
}
.bgimg2 {
	background: url("../images/alione.jpg") no-repeat fixed;
	width: 800px;
}

/*slider page style*/
.slide {
	width: 40%;
}